pipeline/DeltaDataModule7.json
{
	"name": "DeltaDataModule7",
	"properties": {
		"activities": [
			{
				"name": "Use Watermark table value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data from Azure to Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Use Watermark table value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@activity('Use Watermark table value').output.firstRow.Watermark_Date",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 32,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "Module7SourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Module7SinkDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update WatermarkTable",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data from Azure to Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_update_watermark]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServerLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Minimum_Date": {
				"type": "String"
			},
			"Min_Date": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-09T04:47:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}