pipeline/IncrementalCopyPipelineModule6.json
{
	"name": "IncrementalCopyPipelineModule6",
	"properties": {
		"activities": [
			{
				"name": "Lookupoldwatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Table Cinema Tickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LookupnewwatermarkTable",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Table Cinema Tickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(TransactionDt) AS NEWWATERMARKVALUE FROM Tickets",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CinemaTicketsTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "IncrementalCopyActivityModule6",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookupoldwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupnewwatermarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from Tickets where TransactionDt > '@{activity('Lookupoldwatermark').output.firstRow.Watermark_Date}' and TransactionDt <= '@{activity('LookupnewwatermarkTable').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CinemaCode",
									"type": "nvarchar"
								},
								"sink": {
									"name": "cinema_code",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CinemaName",
									"type": "nvarchar"
								},
								"sink": {
									"name": "cinema_name",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovieId",
									"type": "int",
									"precision": 10
								},
								"sink": {
									"name": "movie_id",
									"type": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TicketCount",
									"type": "int",
									"precision": 10
								},
								"sink": {
									"name": "ticket_count",
									"type": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TicketPrice",
									"type": "decimal",
									"scale": 1,
									"precision": 4
								},
								"sink": {
									"name": "ticket_price",
									"type": "decimal",
									"scale": 1,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "TransactionId",
									"type": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDt",
									"type": "datetime",
									"scale": 3,
									"precision": 23
								},
								"sink": {
									"name": "transaction_date",
									"type": "datetime",
									"scale": 3,
									"precision": 23
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CinemaTicketsTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StageCinemaTickets",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Truncate Table Cinema Tickets",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServiceModule4",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Truncate Table stg.cinema_tickets"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "StoredProceduretoWriteWatermarkActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Stored Procedure StagetoDBOCinema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LookupnewwatermarkTable').output.firstRow.NewWatermarkvalue}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('Lookupoldwatermark').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServerLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Stored Procedure StagetoDBOCinema",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "IncrementalCopyActivityModule6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServiceModule4",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "EXECUTE [dbo].[stagetoDBOCinema] "
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-05T04:43:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}