pipeline/Module11Webactivity.json
{
	"name": "Module11Webactivity",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@pipeline().globalParameters.WebParameter",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VariableWeb",
					"value": {
						"value": "@activity('Web1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"VariableWeb": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-30T12:30:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}