pipeline/Module7MasterPipeline.json
{
	"name": "Module7MasterPipeline",
	"properties": {
		"activities": [
			{
				"name": "Use Watermark table value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data from Azure to Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Use Watermark table value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@activity('Use Watermark table value').output.firstRow.Watermark_Date",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 32,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "Module7SourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Module7SinkDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update WatermarkTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data from Azure to Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_update_watermark]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServerLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy data from Json Files to Azure DB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate Online Purchase Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "Source_Filename",
								"value": "$$FILENAME"
							},
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['serviceName']"
								},
								"sink": {
									"name": "online_service_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['serviceCode']"
								},
								"sink": {
									"name": "online_service_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['movieId']"
								},
								"sink": {
									"name": "movie_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['price']"
								},
								"sink": {
									"name": "price",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['id']"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['datetime']"
								},
								"sink": {
									"name": "transaction_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Source_Filename']"
								},
								"sink": {
									"name": "source_filename",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['pipelineId']"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Module7SinkDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OnlinePurchase",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Truncate Online Purchase Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Update WatermarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServiceModule4",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Truncate Table stg.online_purchase"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Execute stagetoDboOnlinePurchase",
				"description": "",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data from Json Files to Azure DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServiceModule4",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "EXECUTE [dbo].[stagetodboOnlinePurchase] "
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data from Lake to Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Execute stagetoDboOnlinePurchase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "online",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Module7SinkDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Module7SinkArchive",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete files from dataLake",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy data from Lake to Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Module7SinkDataset",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"wildcardFileName": "*.json",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-09T09:43:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}