pipeline/Module5Pipeline.json
{
	"name": "Module5Pipeline",
	"properties": {
		"activities": [
			{
				"name": "LookupMappingtable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureFileMappingDatasetModule5",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Truncate Staging Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LookupMappingtable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[TruncateStageTables]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServiceModule4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Foreachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMappingtable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopydatafromDatalaketoazuresqlDB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@item().ID",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": "$$FILENAME"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "movies",
										"wildcardFileName": {
											"value": "@concat(item().File_Name,'_','*')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Module5sourcedatalakedataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLDestinationModule5Dataset",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().File_Name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Foreachfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServiceModule4",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "\nexec spPopulateCast;\nexec spPopulateMovies;\nexec spPopulateMoviesCastMap;\nexec spPopulateCompany;\nexec spPopulateMovieStatus;\nexec spPopulateGenre;\nexec spPopulatetRatings;\nexec spPopulateMoviesCompanyMap;\nexec spPopulateMoviesGenreMap;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-07-26T04:11:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}